<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加收获地址</title>
</head>
<body>
<h2>添加收获地址</h2>
<form action="{% url 'users:address_add' %}" method="POST">
    {% csrf_token %}
    收&nbsp;&nbsp;件&nbsp;人：<input type="text" name="recv" id="recv"><br/>
    联系方式：<input type="text" name="phone" id="phone"><br/>
    国&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;家：<input type="text" name="nation" id="nation"><br/>
    省&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区：<input type="text" name="province" id="province"><br/>
    市&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区：<input type="text" name="city" id="city"><br/>
    县&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;区：<input type="text" name="country" id="country"><br/>
    街&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;道：<input type="text" name="street" id="street"><br/>
    详细地址:&nbsp;&nbsp;<textarea cols="30" rows="10" name="intro" id="intro"></textarea><br/>
    <input type="checkbox" name="set_default" id="set_default">设置为默认地址<br/>
    <input type="submit" value="提交地址">
</form>
</body>
</html>