<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看商品详情</title>
    {% load static %}
    <script src="{% static 'js/lib/jquery-1.8.3.js' %}"></script>
</head>
<body>
<h2>查看商品详情</h2>
<p>
    商品图片：<img style="width: 250px; height: auto;"  src="/{{goods.goodsimage_set.all.first.path}}" alt=""><br/>
    商品单价：{{goods.price}}<br/>
    商品库存：{{goods.stock}}<br/>
    商品销量：{{goods.sale}}<br/>
    商品类型：{{goods.goodstype.parent.name}}->{{goods.goodstype.name}}<br/>
    上架时间：{{goods.add_time | date:'Y年m月d日 G:i:s'}}<br/>
    商品描述：{{goods.intro}}<br/>
    购买数量：<input type="text" name="count" id="count" >
    <button id="addcart" goodsid="{{goods.id}}">加入购物车</button>


</p>
</body>
<script>
    $(function(){
        $('#addcart').click(function(){
            var $goods_id = $(this).attr('goodsid')
            var $count = $(this).prev().val()
            console.log($goods_id,$count)

            $.ajax({
                url:'/shopcart/'+$goods_id+"/"+$count+'/shopcart_add/',
                type:'GET',
                success:function(response){
                    console.log(response)
                    alert("添加购物车成功")
                },
                error:function(){
                    console.log('请求失败')
                }
            })
        })

    })
</script>
</html>