<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传商品</title>
    {% load static %}
    <script src="{% static 'js/lib/jquery-2.2.1.js' %}"></script>
    <script src="{% static 'goods/js/app/goods.js' %}"></script>
</head>
<body>
<h2>上传商品</h2>
<form action="{% url 'goods:goods_upload' store_id %}"
    method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    商品名称：<input type="text" name="name" id="name"><br/>

    单价：<input type="text" name="price" id="price"><br/>
    类型：
        <select id="type1">

            <option>--请选择商品类型--</option>
            {% for goodstype in goods_1_type  %}
            <option value="{{goodstype.id}}">{{goodstype.name}}</option>
            {% endfor %}
        </select>
        <select id="type2" name="type2">
            <option>--请选择具体类型--</option>
        </select><br/>
    封面：<input type="file" name="imgpath" id="imgpath"><br/>
    库存：<input type="text" name="stock" id="stock"><br/>
    描述：<textarea name="intro" id="intro" cols="30" rows="10"></textarea><br/>
    <input type="submit" value="上架商品">
</form>

</body>
</html>